.ListItem {
    font-size: 0.9em;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)/*, inset 0 0 50px rgba(0, 0, 0, 0.1)*/;
    margin: 12px 12px 18px 12px;
    border-radius: 4px;
    padding: 14px 14px 40px 14px;
    background: #f2f2f2;
    transition: all 0.2s ease-in-out;
}
.ListItem:hover {
    transform: translateY(-4px);
}

.ListItem.google {
    width: 120px;
}
.ListItem.reddit {
    min-width: 220px;
}
.ListItem.twitter {
    min-width: 180px;
}
.ListItem.youtube {
    width: 200px;
}

.ListItem .link {
    position: absolute;
    bottom: 14px;
    left: 0;
    width: 100%;
}

.ListItem img {
    margin-bottom: 8px;
    border-radius: 4px;
    width: 100%;
}

.ListItem.google img {
    max-width: 80px;
}

.ListItem.youtube img {
    border-radius: 4px;
    width: 100%;
    object-fit: none;
}

.ListItem .metric {
    position: absolute;
    z-index: 10;
    left: -8px;
    top: -12px;
}

.ListItem .metric:nth-of-type(2) {
    left: 70px;
}