.App {
    padding: 40px;
    background-color: #282c34;
    min-height: calc(100vh - 80px);
    text-align: center;
}

h1 {
    margin-top: 0;
    font-weight: 400;
    color: #fff;
}

.filter-wrapper {
    display: flex;
    justify-content: center;
}