.dropdown-options-wrapper {
    width: 300px;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.1);
}

select {
    display: block;
    width: 140px;
    cursor: pointer;
    -moz-appearance: none;
    text-shadow: var(--text-shadow-default);
    font-family: inherit;
    color: #fff;
    border: none;
    padding: 8px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 2px;
    margin: 0 6px 14px 6px;
}

select option {
    background-color: #fff;
    color: #444;
}

input:focus,
select:focus {
    outline: none;
    border-bottom: 2px solid var(--color-yellow);
}

select::-ms-expand {
    display: none;
}