.Filters {
    color: #fff;
}

.Filters > div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.Filters img {
    margin-top: 2px;
    height: 32px;
}

.Filters > p {
    text-shadow: 0 0 5px rgba(0,0,0,0.2);
    font-style: italic;
}