.List {
    margin: 0 auto;
    /*background: #f2f2f2;
    padding: 30px;
    border-radius: 4px;*/
}

.list-items-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}