.ListItem {
    position: relative;
    width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)/*, inset 0 0 50px rgba(0, 0, 0, 0.1)*/;
    margin: 10px;
    border-radius: 4px;
    padding: 14px;
    background: #f2f2f2;
}

.ListItem.google {
    width: 120px;
}

.ListItem img {
    border-radius: 4px;
    width: 100%;
    object-fit: cover;
}

.ListItem .metric {
    width: 70px;
    color: #FFF;
    position: absolute;
    z-index: 10;
    left: -8px;
    top: -8px;
    background: #00b3b3;
    border-radius: 2px;
    padding: 3px 0 3px 0;
    font-size: 0.9em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}