.ListItem {
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)/*, inset 0 0 50px rgba(0, 0, 0, 0.1)*/;
    margin: 10px;
    border-radius: 4px;
    padding: 14px;
    background: #f2f2f2;
    transition: all 0.2s ease-in-out;
}
.ListItem:hover {
    transform: translateY(-4px);
}

.ListItem.google {
    width: 110px;
}
.ListItem.reddit {
    min-width: 240px;
}
.ListItem.youtube {
    width: 200px;
}

.ListItem img {
    border-radius: 4px;
    width: 100%;
}

.ListItem h4 {
    margin: 0;
}

/*.ListItem.google a {
    position: absolute;
    bottom: 0;
}*/

.ListItem.youtube img {
    border-radius: 4px;
    width: 100%;
    object-fit: none;
}

.ListItem .metric {
    min-width: 60px;
    color: #FFF;
    position: absolute;
    z-index: 10;
    left: -6px;
    top: -12px;
    background: #339966;
    border-radius: 2px;
    padding: 2px 6px 2px 6px;
    font-size: 0.9em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}