.List {
    margin: 0 auto;
    /*background: #f2f2f2;
    padding: 30px;
    border-radius: 4px;*/
}

.list-description {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    margin-bottom: 30px;
}

.list-description .fa-icon {
    /*padding: 8px;
    border-radius: 50%;
    border: 2px solid;
    font-size: 24px;*/
    margin: 0 10px 0 10px;
    font-size: 28px;
}

.list-description .fa-icon.google_trends {
    color: #eeb211;
}
.list-description .fa-icon.reddit_subs {
    color: #ff4301;
}
.list-description .fa-icon.youtube_videos {
    color: #c4302b;
}

.list-description .platform {
    font-size: 1.1em;
    font-weight: 300;
    text-transform: uppercase;
}

.list-items-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.list-description img {
    height: 28px;
}